body{
    margin:0;
    font-family:Helvetica;
}
*{
    box-sizing: border-box;
}
table,tr,td{
    border:1px solid black;
    border-collapse:collapse; 
}

td{
    margin:10px;
}


table{
    height:100%;
    font-size: large;
    position:fixed;
}   

span{
    margin-left:20px;
}


main{
    display: grid;
    grid-template-columns:auto minmax(auto,max-content);
    column-gap: 20em;
    margin-right: 10px;
    
}

span{
    padding:10px;
    display: block;
   
}

table tr:last-child td{
    height:100%;
    position:relative
    
}

table tr:last-child span{
    position:absolute;
    top:10px;
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

*{
    scroll-behavior: smooth;
}

