body{
    margin:0;
}

table,tr,td{
    border:1px solid black;
    border-collapse:collapse; 
}

td{
    margin:10px;
}

table{
    height:100%;
    width:100%;
    font-size: large;
}

span{
    margin-left:20px;
}


main{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    
}

span{
    padding:20px;
    display: block;
   
}

table tr:last-child td{
    height:100%;
    position:relative;
}

table tr:last-child span{
    position:absolute;
    top:20px;
}